<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Patient List</h2>
  </div>
  
  <div class="pricing-header mx-auto">
  
    <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Location</th>
            <th scope="col">Patient</th>
            <th scope="col">Admitted on</th>
            <th scope="col">LOS</th>
            <th scope="col">Physician</th>
            <th scope="col">Complaints</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let populateData of loginForm">
            <th  scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center action-block">
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
   


  </div>
 